*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PublicSans;
    src: url(PublicSans-Bold.ttf);
}
@font-face {
    font-family: PublicSemi;
    src: url(PublicSans-SemiBold.ttf);
}
@font-face {
    font-family: PublicMedium;
    src: url(PublicSans-Medium.ttf);
}
@font-face {
    font-family: PublicExtra;
    src: url(PublicSans-ExtraBold.ttf);
}
@font-face {
    font-family: PublicBlack;
    src: url(PublicSans-Black.ttf);
}
/* #1c1c2e Background */
/* #FF428F Accent Color */
/* white Text Color */
/* #21213B Dark Navigation */

/* PublicSans */
/* PublicSemi */
/* PublicMedium */
/* PublicExtra */

.project-1{
    width: 100%;
    height: 100vh;
    background-color: #1c1c2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1{
    width: 80%;
    height: 70vh;
    display: flex;
}

.box-1{
    width: 70%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.box-1 > *{
    width: 500px;
    height: auto;
}

.box-2{
    padding-left: 40px;
}

.box-2 > *{
    padding-bottom: 30px;
}

.box-2 > h1{
    font-family: PublicBlack;
    color: white;
    font-size: 6rem;
}

.p-tag{
    font-family: PublicSans;
    color: #FF428F;
    font-size: 1.6rem;
    letter-spacing: 6px;
}

.text{
    font-family: PublicMedium;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.6px;
}

.histoire{
    letter-spacing: 10px;
}

.triangle{
  margin-top: 40px;
  margin-left: 30px;  
  position: absolute;  
  width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 28px solid #FF428F;
}

.triangle-2{
    margin-top: 40px;
    margin-left: 80px;  
    position: absolute;  
    width: 0; 
    height: 0; 
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 28px solid #FF428F;
}

.triangle-3{
    margin-top: 40px;
    margin-left: 130px;  
    position: absolute;  
    width: 0; 
    height: 0; 
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 28px solid #FF428F;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    border-radius: 100px;
    background-color: #292956;
}

.text-container > *{
    color: white;
    font-family: PublicSans;
    font-size: 0.9rem;
    letter-spacing: 4px;
}

.bot-flex{
    display: flex;
    
}

.next-link{
    color: #FF428F;
    font-family: PublicSans;
    font-size: 1.4rem;
    letter-spacing: 4px;
    text-decoration: none;
    margin: 10px;
    margin-left: 200px;
    position: relative;
}

.next-link:before {
    content: "";
    border-top: 3px solid #FF428F;
    width: 24px;
    position: absolute;
    left: -40px;
    top: 12px;
}